/* Import fonts at the top */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Pinyon+Script&display=swap');

/* Then load Tailwind CSS layers */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #f1f1f1;
}
/* Optional: Customize Tailwind's base styles if needed */
@layer base {
  .text-eb-garamond {
    font-family: 'EB Garamond', serif;
  }

  .text-dm-sans {
    font-family: 'DM Sans', serif
  }

  .text-pinyon-script {
    font-family: 'Pinyon Script', serif;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 1s ease-out forwards;
}


@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.animate-slide-right {
  animation: slideRight 1s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 1s ease-out forwards;
}





#root {
  width: 100%;
  display: block;
  height: 100%;
}